@font-face{
	src:url(Calibri/Calibri.ttf);
	font-family: calibri;
}


body {
    color: #999;
    font-size: 15px;
		font-family: 'PT Sans', sans-serif;
    line-height: 1.80857;
}
@font-face {
  font-family:Calibri;
  src: url(Calibri.html);
}
.top-bar {
        height: 40px;
        background-color: #555558;
        /* box-shadow: 5px 10px red; */
        background-image: linear-gradient(to bottom, rgba(12, 12, 12, 0), rgb(21, 19, 19));
        line-height: 40px;
}
.right-top{
    float: right;
	/* margin-top:11px; */
}
.top-menu{
	color: #cccc66;
    font-size: 12px;
    font-weight: bold;
}
.top-menu1{
	color: #cccccc;
    font-size: 12px;
    font-weight: bold;
}
.icon ul{
	    list-style: none;
	    margin-bottom: 0rem;
}
.icon ul li{
	float: left;
    font-size: 25px;
    margin: 0 5px;
}
.icon i{
	    color: #000;
    background: #b0b0b0;
    width: 29px;
    height: 29px;
    border-radius: 30px;
    font-size: 19px;
    padding: 6px 7px;
}

.bg-light {
    /* background-color: #181818 !important; */
    background-color: #000 !important;
}

.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}
.bg-primary {
    /* background-color: #007bff!important; */
    background-color: #000 !important;
}
.navbar .dropdown-menu {
  border:none;
  background-color:#000 !important;
  opacity: .8;
}
.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width:12px;
    height:12px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color:none !important;
    border-radius: 90px;
	cursor: pointer;
   border: 2px solid #fff;
}
.carousel-caption {
	position: absolute;
	right: -37%;
	bottom: 115px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	/* padding-bottom: 13rem; */
	color: #fff;
	text-align: center;
	line-height: 3rem;
}
.carousel-caption p{
	margin-top: 0;
    margin-bottom: 0rem;
	font-size: 28px;
    color: #FFF;
    line-height: 29px;
}
.carousel-caption h3{
	margin-top: 0;
    margin-bottom: 0rem;
	font-size: 56px;
    color: #FFF;
    line-height:3.6rem;
    font-weight: 600;
}


.carousel-caption-black {
	position: absolute;
	right: -23%;
	bottom: 170px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	/* padding-bottom: 13rem; */
	color: #4027ca;
	text-align: center;
	line-height: 3rem;
}

.carousel-caption-black p{
	margin-top: 0;
    margin-bottom: 0rem;
	font-size: 28px;
    color: #000;
    line-height: 29px;
}
.carousel-caption-black h3{
	margin-top: 0;
    margin-bottom: 0rem;
	font-size: 56px;
    color: #4027ca;
    line-height:3.6rem;
    font-weight: 600;
}

.carousel-caption-left {
	position: absolute;
	/* right: -37%; */
	bottom: 140px;
	left: 8%;
	z-index: 10;
	padding-top: 20px;
	/* padding-bottom: 13rem; */
	color: #fff;
	text-align: center;
	line-height: 3rem;
}

.carousel-caption-left p{
	margin-top: 0;
    margin-bottom: 0rem;
	font-size: 28px;
    color: #FFF;
    line-height: 29px;
}
.carousel-caption-left h3{
	margin-top: 0;
    margin-bottom: 0rem;
	font-size: 56px;
    color: #FFF;
    line-height:3.6rem;
    font-weight: 600;
}

.carousel-control-next{
    position: absolute;
    top: 13rem;
    bottom: 13rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3%;
    color: #fff;
    text-align: center;
    opacity: 1;
    background: #000;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: 1px solid #000;
    padding: 1px 7px;
}
.carousel-control-prev {
    position: absolute;
    top: 13rem;
    bottom: 13rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3%;
    color: #fff;
    text-align: center;
    opacity: 1;
    background: #000;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #000;
    padding: 1px 7px;
}
.btn-danger {
    color: #fff;
    background-color: #bd2130;
    border-color: #bd2130;
    border-radius: 34px;
    padding: 5px 20px;
    font-size: 20px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    border-radius: 40px;
}
@media screen and (min-width: 992px) {

.navbar {
  padding-top:0px;
  padding-bottom:0px;
}

.navbar .nav-item {
  padding:.5rem .5rem;
  margin:0 .25rem;
}

.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
  width:100%;
  left:0%;
  right:0%;
  top:25px;
  color: #FFF;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
}

.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block!important;
}

  .navbar .dropdown-menu {
    background-color: #fff;
	border: 39px solid #0000;
    border-bottom-left-radius: 51px;
    border-bottom-right-radius: 51px;

  }
}
 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active{
    color: #b0b0b0;
    margin: 0 1.9em;
    font-size: 14px;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color: #b0b0b0;
	font-size: 14px;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.disabled {
    font-size: 14px;
	color: #b0b0b0;
    font-weight: bold;
	margin: 0 1.9em;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #ffc107;
    border: 1px solid #ffc107;
    border-radius: .25rem;
}
.text-white {
    color: #6db444!important;
    font-size: 22px;
}
.nav li a{
    color: #FFF !important;
    line-height: 11px;
    font-size: 18px;
}

.sub3{
	color: #000;
    font-size: 22px;
    /* font-family: cursive; */
    margin: 0 10px;
		font-weight: bold;

}
.sub2{
	font-size: 18px;
    color: #000;
		font-family: 'PT Sans', sans-serif;
	margin:0 6px;
	font-weight: bold;
}
.sub4{
	font-size: 13px;
    color: #000;
	margin:0 0px;
}
#sub1{
     line-height: 24px;
    background: #e31837;
    border: 1px solid #e31837;
    width: 178px;
    color: #FFF;
    border-radius: 3px;
	font-size: 20px !important;
	font-family: 'PT Sans', sans-serif;
    font-weight: bold;
	margin:14px 0;
}
.sub-menu{
    text-align: center;
        background: #ffc526;
        color: #000;
}
.box{
  background-image: url("grid/2.jpg");
  height:auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box1{
  background-image: url("grid/3.jpg");
  height:auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box3{
  background-image: url("grid/1.jpg");
  height:auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box4{
  background-image: url("grid/4.jpg");
  height:auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text h5{
	text-align: center;
    font-size: 70px;
    color: #fff;
		/* font-family: 'Josefin Sans', sans-serif; */
		font-family: monospace;
		font-weight: bold;
    /* font-family: Calibri; */

}
.text p{
	font-size: 21px;
    text-align: center;
    line-height: 0px;
    color: #fff;
		font-family: 'Josefin Sans', sans-serif;
}
#sub{
	background: #e31837;
    border: 1px solid #e31837;
    border-radius: 36px;
    width: 225px;
    height: 49px;
    font-size: 24px;
    color: #fff;
		margin-top: -60px;
		font-family: 'Josefin Sans', sans-serif;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}
.text{
	 /* padding: 6.4em 0; */
     /* text-align: center; */
		 /* position: relative; */
		 position: absolute;
  top: 59%;
  left: 47%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 80px;
  font-weight: bold;
	text-align: center;
}
.row{
   margin-right: 1px !important;
    margin-left: 0px !Important;
}
.footer{
  background-image: url("img/foot.jpg");
  height:auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
border-top: 1px dotted #fff;
}
#two{
	    margin: 3em 0;
}
.foot1 h6{
	color: #ffcc99;
    font-size: 21px;
}
.foot1 ul{
 list-style: none;
     padding: 0 0;
}
.foot1 ul li{
    text-decoration: none;
    color: #fff;
}
.foot1 ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 0px;
}
.foot1 p{
    color:#fff;
    font-size: 16px;
}

.fo ul{
 list-style: none;
  padding: 0 0
}
.fo ul li{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    float:left;
	border-left: 1.5px solid #fff;
    line-height: 13px;
}
.fo ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    float:left;
	margin: 0 16px;
}
.fo2{
	 margin-top:9em;
	 margin-bottom:2.2em;
}
.about h4{
	font-size: 51px;
    margin: 10% 0;
    color: #fff;
}
.about h1{
    color: #fff;
}
.about h2{
    color: #fff;
}
.about p{
	font-size: 17px;
    margin: 2% 0;
    color: #fff;
    text-align: justify;

}
.about{
 background: #000;
}
/* .aboutbg {
    background: #141414 !important;
} */

.online{
 background: #000;
 margin-bottom: 4%;
}
.online1{
	text-align: center;
    font-size:54px;
    color: #000;
    line-height: 4rem;
	font-weight: bold;
}
.online1 span{
	color:#6eb444;
}
.online p{
	background: #242424;
    font-size: 20px;
    line-height: 23px;
    margin: 14px 20px;
    padding: 6px 20px;
    color: #fff;
	text-align:justify;
}
.online-box img{
   text-align: center;
    width: 100%;
    margin-bottom: 1.4rem;
}
.contact {
    background: #000;
    margin-bottom: 3%;
    margin-top: 3%;
}

.one p {
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 1.6rem;
    margin: 0px 15px;
    margin-bottom: 36px;
}

.contact h5 {
    text-align: center;
    font-size: 48px;
    color: #ffff;
    font-weight: bold;
}

.contact-page h6 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pizza {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 9px;
    text-align: center;
    margin-bottom: 11px;
}

.four {
    text-align: center;
    font-size: 22px;
    color: #fff;
}

.pizza p {
    text-align: center;
    font-size: 23px;
    color: #000;
    margin: 0 0;
    line-height: 31px;
}

.contact-page {
    background: #000;
    margin-bottom: 1%;
    margin-top: 3%;
    width: 100%;
}

.contact-form {
    background: #000;
    width: 100%;
    margin-bottom: 21px;
}

label {
    display: inline-block;
    margin-bottom: .0rem;
    font-size: 19px;
    color: #fff;
}

.food img {
    margin-bottom: 2px;
    margin-top: 2px;
    width: 100%;
}

.contact-form h4 {
    text-align: center;
    font-size: 38px;
    color: #fff;
}

.food1 h4 {
    position: absolute;
    color: #dc3545;
    margin-top: -18%;
    margin-left: 10%;
    font-size: 31px;
    font-weight: bold;
}

.food1 p {
    width: 33%;
    position: absolute;
    text-align: left;
    font-size: 20px;
    margin-top: -15%;
    color: #fff;
    line-height: 25px;
    margin-left: 10%;
}

.last h2 {
    font-weight: bold;
    font-size: 40px;
    color: #000;
    margin-bottom: 24px;
    margin-left: 9%;
    padding: 10px 0;
}

.last span {
    font-size: 36px;
    color: #000;
    font-weight: bold;
}

.last {
    background: #bfbfbf;
    width: 100%;
}

.last a {
    margin: 10px 0px;
    float: right;
    background: #ff152b;
    border: 1px solid #ff152b;
    border-radius: 7px;
    font-size: 26px;
    color: #fff;
    padding: 0px 40px;
    line-height: 38px;
    font-weight: bold;
    text-decoration: none;
}

.cup2 {
    margin-bottom: 21px;

}

.pizza span {
    font-size: 22px;
    color: #ff0018;
    font-weight: 500;
    line-height: 0px;
}

.contact {
    width: 100%
}

#default1 {
    width: 135px;
    font-size: 26px;
    color: #fff;
    line-height: 26px;
    background: #f3192e;
    font-weight: normal;
}

.one {
    background: #242424;
    margin: 0 38px;
    margin-bottom: 20px;
    padding: 1px 0px;
}

.bro {
    text-align: center;
}

@media screen and (max-width:768px) {
    .food1 h4 {
        position: absolute;
        color: #dc3545;
        margin-top: -18%;
        margin-left: 10%;
        font-size: 31px;
        font-weight: bold;
        display: none !important;
    }

    .food1 p {
        display: none !important;
        width: 33%;
        position: absolute;
        text-align: left;
        font-size: 20px;
        margin-top: -15%;
        color: #fff;
        line-height: 25px;
        margin-left: 10%;
    }
	.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}
.sub-menu {
    text-align: center;
    background: #ffc526;
    color: #000;
    display: none;
}
.foot1{
	display: none;
}
.fo2{
	 display: none;
}
.new-foot p{
	text-align: center;
    font-size: 31px;
    color: #fff;
    margin-top: 20px;
}
.new-foot{
	 text-align:center;
	  display: block !important;
}
.new1{
	 font-size: 18px !important;
     color: #cccc !important;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 7px 5px;
    border-radius: 70px;
}

.fa:hover {
    opacity: 0.7;
	color:#fff;
	text-decoration:none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 2px;
}
.fa-rss {
  color: white;
  background: #bfd420e6;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-tumblr {
  background: #2c4762;
  color: white;
}
.new-foot{
	 text-align: center;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #dae0e5;
}
#apple{
    background: #424242;
    padding: 10px 20px;
    border-radius: 2px;
    margin: 0 20px;
}
.apple{
	text-decoration: none;
    font-size:20px;
    color: #fff;
    margin: 0 20px;
}
.apple:hover{
	text-decoration: none;
    font-size:20px;
    color: #fff;
    margin: 0 20px;
}
#two {
    margin: 3em 0;
    display: none;
}
}
/*--================== new section ================--*/
#apple{
    background: #424242;
    padding: 10px 10px;
    /* border-radius: 2px; */
    /* margin: 0 20px; */
}
.new-foot{
	 display:none;
}

.location {
	background:#000;
	width:100%;
}
.location1 h3{
   font-size: 55px;
    color: #fff;
    font-weight: bold;
}
.location1 p{
    font-size: 25px;
    color: #fff;
    line-height: 0px;
}
.location1{
	margin-top: 20px;
    margin-bottom: 25px;
}
.location2 h5{
    font-size: 30px;
    color: #fff;
}
.location2{
    border-bottom: 2px solid #898a8c;
    width: 100%;
}
#location{
	border: 2px solid #fff;
    background: #000;
    border-radius: 11px;
    font-size: 28px;
    line-height: 42px;
    color: #fff;
    width: 210px;
}
#location1{
	 margin-top: 11px;
    margin-bottom: 0px;
}
.location4{
    background: #FFF;
    margin-bottom:10px;
    margin-top:0px;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 6px;
	padding-left: 7px;
    padding-right: 7px;
}
.location4 h6{
	font-size:20px;
    color: #000;
    margin-top: 9px;
    text-align: center;
    font-weight: bold;
}
.location4 p{
	    font-size:16px;
    color: #656262;
    text-align: center;
    line-height: 19px;
    margin: 0 0;
}
.location4 span{
	text-align: center;
    font-size: 20px;
    color: #000;
    text-decoration: underline;
}
.location4 h3{
    font-size: 18px;
    color: #4c4949;
    margin: 0 0px;
    line-height: 21px;
    text-align: left;
    margin-bottom: 12px;
    line-height: 9px;
}
.location0{
	padding-left: 0px;
    padding-right: 12px;
}

.parent {
    width:100%;
    height:auto;
    border: 1px solid none;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
	padding: 0 0;
}

.child {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.bg-two {  background-image: url("grid/2.jpg");}
.bg-four {  background-image: url("grid/4.jpg");}
.bg-three {  background-image: url("grid/3.jpg");}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pizza {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 9px;
    text-align: center;
    margin-bottom: 11px;
}

.four {
    text-align: center;
    font-size: 22px;
    color: #fff;
}

.pizza p {
    text-align: center;
    font-size: 23px;
    color: #000;
    margin: 0 0;
    line-height: 31px;
}

.franchise{
	 background: #f0f6e8;
}
.PIZZA{
 	background: #fbd156;
    text-align: center;
    padding: 12px 0;
}
.PIZZA h6{
	color: #1e7e34;
    font-size:23px;
    padding: 6px 0;
	font-weight:bold;
}
.PIZZA p{
    text-align: center;
    padding: 0 40px;
    font-size: 17px;
    color: #fff;
    line-height:20px;
}
.piz{
 text-align: center;
}
.piz img{
    margin-top: 40px;
	margin-bottom: 20px;
}
.application p{
    font-size: 32px;
    border-bottom: 2px solid #fbd156;
    line-height: 42px;
    margin-top: 20px;
	color: #1e7e34;
	font-weight:500;
}
.application{
	text-align: center;
	}
	.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}
.label{
	display: inline-block;
    margin-bottom: .0rem;
    font-size: 20px;
    color: #000000;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    font-size: 24px;
    padding: 0px 21px;
}
.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 0rem rgba(40,167,69,.5);
}
#piz{
	padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: rgba(255,255,255,0.8);
}
.business1 span{
	 text-align: center;
    font-size: 38px;
    color: #1e7e34;
    border-bottom: 2px solid #ffc107;
    line-height: 50px;
}
.business1{
	 text-align: center;
	 background:#cfcfcf;
}
.business1 p{
	font-size: 19px;
    color: #fff;
    padding: 0 20px;
    line-height: 1.6rem;
}
.Business{
	background:#cfcfcf;
}
.business2 span{
	 text-align: center;
    font-size:25px;
    color: #1e7e34;
    border-bottom: 2px solid #ffc107;
    line-height: 50px;
}
.business2{
	text-align:center;
}
.swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
	.business5{
   background: #dee2e6;
    margin-top: 20px;
    margin-bottom: 27px;
	}
	.business4{
    margin-top: 30px;
     margin-bottom: 30px;

	}
	.steps h6{
  text-align: center;
    background: #28a745;
    color: #fff;
    margin: 8px 0;
    padding: 3px 0;
    font-size: 25px;
    border-radius: 3px;
	}
	.steps ul{
		list-style: none;
        padding: 0 5px;
	}

.steps i{
  font-size:25px;
   color: #28a745;
margin: 0px 5px;
}
.steps a{
  font-size:25px;
   color: #28a745;
   width:5%;
   margin: 0px 0px;
}
.steps ul li{
    font-size: 19px;
    color: #000;
    line-height: 1.9rem;
	text-align: justify;
	display: inline-block;
}

.nav-tabs .nav-link {
    border: 1px solid #fff;
    border-top-left-radius: .5rem;
    border-top-right-radius: .25rem;
    background: #ffc526;
    font-size: 22px;
    color: #fff;
    line-height: 20px;
}
.attend p{
	text-align: center;
    font-size: 32px;
    font-weight: normal;
    color: #000;
}



@media only screen and (max-width: 600px) {
	.text{
		width: 100%;
		position: absolute;
	  top: 72%;
	  left: 48%;
	  transform: translate(-50%, -50%);
	  color: #FFF;
	  font-size: 80px;
	  font-weight: bold;
		text-align: center;
	}
	.text h5{
		text-align: center;
			font-size: 40px;
			color: #fff;
			/* font-family: Calibri; */
			font-family: 'Josefin Sans', sans-serif;
			font-weight: bold;

	}
	.text p{
		font-size: 15px;
			/* text-align: center; */
			line-height: 0px;
			color: #fff;
			font-family: 'Josefin Sans', sans-serif;
	}

	#sub{
		background: #e31837;
	    border: 1px solid #e31837;
	    border-radius: 50px;
	    width: 185px;
	    height: auto;
	    font-size: 20px;
	    color: #fff;
			margin-top: -95px;
			/* font-family: 'Josefin Sans', sans-serif; */
			/* font-weight: bold; */
	}

	.sub-menu {
	    text-align: center;
	    background: #ffc526;
	    color: #000;
	    display: block;
	}

	.sub4 {
		display: none;
	}
	.sub2 {
		display: none;
	}
	.sub3 {
		display: none;
	}
	.sub4 {
		display: none;
	}

	#sub1 {
    width: 100%;
    margin: 5px 0;
	}

	.slid1 {
		object-fit: cover;
		height: 250px;
	    /* background-position: 50% 50%; */
	}

	.carousel-caption {
		/* position: absolute; */
    /* right: -37%; */
		padding-right: 42%;
    bottom: 45px;
    /* left: 15%;
    z-index: 10; */
    /* padding-top: 20px; */
    /* padding-bottom: 13rem; */
    color: #fff;
    /* text-align: center;
    line-height: 3rem; */
	}

	.carousel-caption p{
		margin-top: 0;
	    margin-bottom: 1rem;
		font-size: 20px;
	    color: #FFF;
	    line-height: 1px;
	}
	.carousel-caption h3{
		margin-top: 0;
	    margin-bottom: 0rem;
		font-size: 30px;
	    color: #FFF;
	    line-height:4.6rem;
	    font-weight: 600;
	}

	.carousel-caption-black {
		/* position: absolute; */
    /* right: -37%; */
		padding-right: 29%;
    bottom: 45px;
    /* left: 15%;
    z-index: 10; */
    /* padding-top: 20px; */
    /* padding-bottom: 13rem; */
    color: #000;
    /* text-align: center;
    line-height: 3rem; */
	}

	.carousel-caption-black p{
		margin-top: 0;
	    margin-bottom: 1rem;
		font-size: 20px;
	    color: #000;
	    line-height: 1px;
	}
	.carousel-caption-black h3{
		margin-top: 0;
	    margin-bottom: 0rem;
		font-size: 30px;
	    color: #000;
	    line-height:4.6rem;
	    font-weight: 600;
	}

	.carousel-caption-left {
		/* padding-right: 45%; */
    bottom: 65px;
    color: #fff;
	}

	.carousel-caption-left p{
		margin-top: 0;
	    margin-bottom: 1rem;
		font-size: 20px;
	    color: #FFF;
	    line-height: 1px;
	}
	.carousel-caption-left h3{
		margin-top: 0;
	    margin-bottom: 0rem;
		font-size: 30px;
	    color: #FFF;
	    line-height:4.6rem;
	    font-weight: 600;
	}

	.get-app {
		display: none;
	}

}
.faq{
background: #000;
}
.faq p{
    margin-top: 0;
    margin-bottom: 0rem;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    background: #ffc526;
    line-height: 15px;
    font-size:6px;
   cursor: pointer;
   width: 100%;
   padding: 6px 18px;
}
.faq h4{
	color: #000;
	width: 100%;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 11px;
    font-size: 20px;
    line-height: 1.6rem;
    width: 100%;
}
.faq h6{
	font-size: 37px;
    color: #fff;
    border-bottom: 2px solid #ccc;
}
.card{
	margin-bottom:14px;
}
#accordion{
	 width: 100%;
}
